#container {
   display: flex;
   flex-wrap: wrap;
   margin: auto;
   padding: (2 * $leading) $offset--page;
   width: (12 * $width--grid-unit);
}

body {
   font-family: 'IBM Plex Sans', sans-serif;
}

a {
   text-decoration: none;
}

strong,
b {
   font-weight: $bold;
}
