#container {
   display: flex;
   flex-wrap: wrap;
   margin: auto;
   width: (12 * $width--grid-unit);
}

body {
   font-family: 'IBM Plex Sans', sans-serif;
}

a {
   text-decoration: none;
}

strong,
b {
   font-weight: $bold;
}

sup {
   position: relative;
   top: -.5em;
   vertical-align: baseline;
   line-height: 0;
   font-size: 75%;
}
