body {
   font-family: 'IBM Plex Sans';
}

header {
   h1 {
      font-weight: 400;
   }
}

nav {
   ul {
      li {
            font-weight: 400;
         }
   }
}

main {
   p {
      font-weight: 200;
   }
}
