header {
   display: flex;
   font-size: (2.25 * $font-size--base);
   font-weight: $regular;

   .fa-map {
      width: $width--grid-column;
      text-align: center;
   }

   a {
      padding-top: (2.375 * $leading);
      display: block;
      color: $color--text;
   }

   h1 {
      margin-left: $width--grid-gutter;
      padding-top: (2.5 * $leading);
      width: (10 * $width--grid-unit) + $width--grid-column;
      text-align: center;
   }
}

.map-page {
   header {
      padding-bottom: 0;
      height: (7 * $leading);

      h1 {
         margin: ($leading / 2) 0;
         padding: (1.25 * $leading) 0 $leading;
         font-size: (1.5 * $font-size--base);

         b {
            display: block;
            margin: ($leading / 2) 0;
         }
      }
   }
}
