.bullet {
   color: $color--bullet;
   font-weight: $extra-light;
}

#legend {
   display: flex;
   background-color: $color-bg--list;
   padding-bottom: (5 * $leading);
   line-height: 1.3;

   /// Both legends
   > ul {
      padding-top: (5 * $leading);
      width: (4 * $width--grid-unit);

      li {
         ul {
            margin-left: 12px;
            font-weight: $extra-light;

            li {
               text-indent: -$offset--page;
               margin-left: $offset--page;
            }
         }
      }

      /// The left legend
      &:nth-child(1) {
         padding-left: $width--grid-unit;
      }

      /// The right legend
      &:nth-child(2) {
         padding-left: $width--grid-column;
      }
   }
}
