main {
   background-color: $color-bg--main;
   padding-top: (2.9 * $leading);
   width: (10 * $width--grid-unit) + $width--grid-column;

   p {
      padding-left: $width--grid-unit;
      width: (9 * $width--grid-unit);
      line-height: 26px;
      font-weight: $light;
   }

.map-page {
   main {
      padding-top: 0;
   }
}
