main {
   background-color: $color-bg--main;
   padding-top: (2.9 * $leading);
   width: (10 * $width--grid-unit) + $width--grid-column;

   p {
      padding-left: $width--grid-unit;
      width: (9 * $width--grid-unit);
      line-height: (1.625 * $leading);
      font-weight: $light;
   }
}

/// Every picture gets the same geometrical treatment, but the background color to
/// each is different. Hence, the classes.
picture {
   display: block;
   padding-bottom: (5 * $leading);
   text-align: center;

   img {
      padding-top: (5 * $leading);
   }

   &.nineteen-forty {
      background-color: $color--1940;
   }

   &.nineteen-fifty-six {
      background-color: $color--1956;
   }

   &.nineteen-fifty-nine {
      background-color: $color--1959;
   }

   &.nineteen-sixty {
      background-color: $color--1960;
   }

   &.nineteen-sixty-two {
      background-color: $color--1962;
   }

   &.nineteen-seventy {
      background-color: $color--1970;
   }

   &.nineteen-eighty {
      background-color: $color--1980;
   }
}

.map-page {
   main {
      margin-bottom: (5 * $leading);
      margin-left: $width--grid-unit;
      padding-top: 0;
   }
}
