nav {
   width: $width--grid-unit;

   li {
      position: relative;
      width: $width--grid-column;
      text-align: center;

      a {
         display: inline-block;
         text-decoration: none;
         line-height: (2.5 * $leading);
         color: $color--text;
         font-size: $font-size--nav;

         &:hover {
            &::before {
               position: absolute;
               top: 0;
               left: 100%;
            }
         }
      }

      &.current {
         a {
            &::before {
               @include render-shaftless-arrow(20px, 40px, 'right', transparent);

               position: absolute;
               top: 0;
               left: 100%;
            }
         }

         &:nth-child(1) {
            a {
               &::before {
                  border-left-color: $color--1940;
               }
            }
         }

         &:nth-child(2) {
            a {
               &::before {
                  border-left-color: $color--1956;
               }
            }
         }

         &:nth-child(3) {
            a {
               &::before {
                  border-left-color: $color--1959;
               }
            }
         }

         &:nth-child(4) {
            a {
               &::before {
                  border-left-color: $color--1960;
               }
            }
         }

         &:nth-child(5) {
            a {
               &::before {
                  border-left-color: $color--1962;
               }
            }
         }

         &:nth-child(6) {
            a {
               &::before {
                  border-left-color: $color--1970;
               }
            }
         }

         &:nth-child(7) {
            a {
               &::before {
                  border-left-color: $color--1980;
               }
            }
         }
      }

      &:nth-child(1) {
         background-color: $color--1940;

         a {
            &:hover {
               &::before {
                  @include render-shaftless-arrow($width--grid-gutter, $height--nav-item, 'right', $color--1940);
               }
            }
         }
      }

      &:nth-child(2) {
         background-color: $color--1956;

         a {
            &:hover {
               &::before {
                  @include render-shaftless-arrow($width--grid-gutter, $height--nav-item, 'right', $color--1956);
               }
            }
         }
      }

      &:nth-child(3) {
         background-color: $color--1959;

         a {
            &:hover {
               &::before {
                  @include render-shaftless-arrow($width--grid-gutter, $height--nav-item, 'right', $color--1959);
               }
            }
         }
      }

      &:nth-child(4) {
         background-color: $color--1960;

         a {
            &:hover {
               &::before {
                  @include render-shaftless-arrow($width--grid-gutter, $height--nav-item, 'right', $color--1960);
               }
            }
         }
      }

      &:nth-child(5) {
         background-color: $color--1962;

         a {
            &:hover {
               &::before {
                  @include render-shaftless-arrow($width--grid-gutter, $height--nav-item, 'right', $color--1962);
               }
            }
         }
      }

      &:nth-child(6) {
         background-color: $color--1970;

         a {
            &:hover {
               &::before {
                  @include render-shaftless-arrow($width--grid-gutter, $height--nav-item, 'right', $color--1970);
               }
            }
         }
      }

      &:nth-child(7) {
         background-color: $color--1980;

         a {
            &:hover {
               &::before {
                  @include render-shaftless-arrow($width--grid-gutter, $height--nav-item, 'right', $color--1980);
               }
            }
         }
      }
   }
}

.map-page {
   nav {
      position: fixed;
      top: 112px;
   }
}
