.idea/
.DS_Store
node_modules/
css/

!css/reset.css
!README.md
!config.json
!gulpfile.js
!index.html
!package-lock.json
!package.json

!fonts/
!img/
!sass/

!campus-map--1940.html
!campus-map--1956.html
!campus-map--1959.html
!campus-map--1960.html
!campus-map--1962.html
!campus-map--1970.html
!campus-map--1980.html
